@media screen and (min-width: 480px) and (max-width: 1024px) {
 .article{
    flex-direction: row;
}


    /*!*-------------------------------------------------*!*/
    .up {
       height: 60vh;
       width: 50vw;
    }

    /*!*-----------------for down-----------------------------------------------*!*/
    .down {
        height: 60vh;
        width: 50vw;
    }

    /*!*------------------------------------------footer-----------------------?*!*/







}