@media screen and (max-width: 480px){

div:nth-of-type(1){
    height: 20vh;
}
.two{
    flex-direction: column;
}
.two div:nth-of-type(1){
    height: 50vh;
    width: 100vw;
}
.two div:nth-of-type(2){
    height: 30vh;
    width: 100vw;
}
}