.flex {
    display: flex;
    justify-content: space-around;
    align-items: center; /*ставит элементы в центре*/
    background-color: #d0c4c4;


    /*gap: 15px;*/
    height: 300px;

}

.box100 {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
    /*margin: 15px;*/
    /*border-radius: 50%;*/
}

.box100:hover {
    background-color: gray;
    border-radius: 50%; /*уровень зоокругления */
    transition: 3s; /*скорость транспормации*/
    transform: scale(1.5); /*трансформация отсека*/
}

/*Задание №2-------------------------------------------------------------------------------------------*/
.flex1 {
    display: flex;
    justify-content: space-around;
    background-color: #1f4d23;
    height: 200px;
    align-items: center;

}

.grbox {
    width: 200px;
    height: 180px;
    background-color: gray;
    display: flex;
    transition: 500ms;

    justify-content: center; /*текст по иксу*/
    align-items: flex-start; /*текст по игрику*/
    font-size: x-small;
    /*line-height: 2;     !*межстрочный интервал*!*/

    flex-direction: column;
    gap: 0.5%;

    border: 2px solid red; /*задание рамки*/
    border-radius: 10px;
    box-shadow: 9px 10px 37px 0 rgba(0, 0, 0, 0.65);


    /*font-family: 'Chilanka', "aakar" ;*/ /*шрифты*/


}

.grbox:hover {
    border-radius: 5%; /*уровень зоокругления */
    transition: 1s; /*скорость транспормации*/
    transform: scale(1.3); /*трансформация отсека*/
}

/*Задание №4-------------------------------------------------------------------------------------------*/

.flex3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: deepskyblue;*/
    height: 180px;
    gap: 20px;


}

.cubecolor {
    width: 200px;
    height: 150px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 500ms;

    border: 1px solid;
    box-shadow: 10px 12px 7px -2px rgba(0, 0, 0, 0.71);

    flex-direction: column;
    gap: 0.01px;
    font-size: 20px; /*Увеличиваем шрифт*/

}

.cubecolor:hover {
    border-radius: 5%; /*уровень зоокругления */
    transition: 1s; /*скорость транспормации*/
    transform: scale(1.3); /*трансформация отсека*/
}

h1 {
    text-align: center;
    font-size: 100px;

}

.black, .green, .blue, .red, .fuchsia, .purple, .maroon, .olive {
    color: white;
}

.white, .yellow {
    color: black;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.fuchsia {
    background-color: fuchsia;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.maroon {
    background-color: maroon;
}

.olive {
    background-color: olive;
}


/*Задание №3-------------------------------------------------------------------------------------------*/
.flex2 {
    /*width: 400px;*/
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.cardbox {
    width: 250px;
    height: 180px;
    background-color: #d0c4c4;
    display: flex;
    transition: 500ms;

    justify-content: center; /*текст по иксу*/
    align-items: center; /*текст по игрику*/
    font-size: 10px;
    gap: 0.5%;

    border: 2px solid red; /*задание рамки*/
    border-radius: 10px;
    box-shadow: 9px 10px 37px 0 rgba(0, 0, 0, 0.65);
}

.cardbox:hover {
    border-radius: 5%; /*уровень зоокругления */
    transition: 1s; /*скорость транспормации*/
    transform: scale(1.3); /*трансформация отсека по иксу и игруку*/
}


.cardred {
    color: red;
    font-size: 100px;
}

.cardblack {
    color: black;
    font-size: 100px;
}

h3 {
    margin-left: 50px;
    font-size: 50px;
}


/*.........................Задание №3............вариант со SPAN..........................*/
span {
    width: 180px;
    height: 100px;
    /*font-size: auto;*/
    background-color: #d0c4c4;
    display: inline-block;
    margin-right: 30px;
    text-align: center;      /*текст поцентру*/



    transition: 500ms;
    border: 2px solid red; /*задание рамки*/
    border-radius: 10px;
    box-shadow: 9px 10px 37px 0 rgba(0, 0, 0, 0.65); /*тени*/
}
span:hover {
    border-radius: 5%; /*уровень зоокругления */
    transition: 1s; /*скорость транспормации*/
    transform: scale(1.3); /*трансформация отсека по иксу и игруку*/
}
.cardred1 {
    color: red;
    font-size: 80px;
    justify-content: normal; /*текст по иксу*/
    align-items: center; /*текст по игрику*/

}
.cardblack1 {
    color: black;
    font-size: 80px;
    justify-content: center; /*текст по иксу*/
    align-items: center; /*текст по игрику*/
}
